* {
    font-family: "oswald";
    box-sizing: border-box;
    /* background-color: #888888; */
}

body {
    background-color: white;
}

section {
    /* padding-top: 128px;
    margin-bottom: 32px; */
    position: relative;
}

.judul {
    z-index: -1;
    font-size: 72px;
    font-style: italic;
    color: rgb(255, 255, 255);
    /* opacity: 0.25; */
    position: absolute;
    font-weight: 700;
    top: 20px;
    left: -30px;
    background: url(images/accent1.svg);
    width: 60px;
    height: 60px;

}

a {
    text-decoration: none;
}

.btn.button {
    border: 3px solid black;
    border-radius: 32px;
    padding: 8px 16px 8px 16px;
}

.btn.button:hover, .btn.button.active {
    border: 3px solid black;
    background-color: black;
    color: white;
}

.navbar {
    background-color: white;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 1);
    font-style: italic;
    font-size: larger;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 5;
}

.navbar-custom {
    background-color: black;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: white !important;
}

nav ul li a.active + .indicator,
nav ul li a:hover + .indicator {
    height: 5px;
    width: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: -4px;
}

.line {
    position: absolute;
    height: 164px;
    width: 5px;
    background-color: #000000;
    z-index: -1;
    margin-left: 130px;
}

.line2 {
    position: absolute;
    height: 208px;
    width: 5px;
    background-color: hsl(0, 0%, 0%);
    z-index: -1;
    margin-top: 428px;
    margin-left: 130px;
}

.box {
    background: url(images/SVG/Asset\ 1.svg);
    width: 60px;
    height: 60px;
    /* display: flex; */
    position: absolute;
    z-index: -1;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    background-color: #000000;
    margin-top: 350px;
}

.asset2 {
    width: 5%;
    height: auto;
    position: absolute;
    z-index: -1;
}

#home {
    /* background-image: url(images/ecommerce/messageImage_1720080196118.jpg); */
    animation: bounceIn 1s;
    padding-top: 128px;
    margin-bottom: 72px;
}

.home::before {
    content: '';
    background: url(images/Asset\ 7@2x.png);
    background-size: cover;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 50%;
    right: 50%;
    width: 98.95vw;
    height: 100vh;
    z-index: -1;
    transform: translateX(-50%);
}

.home h1 {
    font-size: 64px;
    font-style: italic;
}

.home h3 {
    font-size: 48px;
    font-style: italic;
}

.home p {
    color: #353535;
}

.home img {
    width: 65%;
}

.home .arrow img{
    width: 60px;
}

#arrow {
    animation: 2s upDown infinite;
}

.title {
    padding-top: 64px;
}

.title h1 {
    font-style: italic;
}

/* .title p {
    color: #353535;
} */

#about {
    padding-top: 128px;
    padding-bottom: 24px;
    /* margin-bottom: 32px; */
    position: relative;
    z-index: 1;
}

#about .btn.button {
    border: 3px solid white;
    border-radius: 32px;
    padding: 8px 16px 8px 16px;
    color: white;
}

#about .btn.button:hover, #about .btn.button.active {
    border: 3px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    color: black;
}

.about {
    position: relative;
    z-index: 1;
    color: white;
}

.about::before{
    content: '';
    position: absolute;
    z-index: 1;
    background-color: #000000;
    top: 0;
    left: 50%;
    right: 50%;
    width: 98.95vw;
    height: 100%;
    background-color: black;
    z-index: -1;
    transform: translateX(-50%);
}

.about p {
    text-align: justify;
    color: #888888;
}

.about h4 {
    color: white;
}

.about > p {
    font-size: larger;
}

.about-exp-item {
    margin-top: 32px;
}

.about-exp-item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-exp-item-detail {
    display: none;
}

#project {
    padding-top: 128px;
    padding-bottom: 40px;
}

.project::before {
    content: '';
    /* font-style: italic; */
    /* width: 60px;
    height: 60px; */
    /* background: url(images/Asset\ 7@2x.png); */
    background-size: cover;
    position: absolute;
    z-index: 1;
    /* color: rgb(255, 255, 255); */
    background-color: #ffffff;
    top: 0;
    left: 50%;
    right: 50%;
    width: 98.95vw;
    height: 100%;
    /* background-color: black; */
    z-index: -1;
    transform: translateX(-50%);
}

.project h1 {
    background: url(images/accent2.svg);
}

/* #project h1 {
    color: black;
} */

.project-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "work-1 work-2" "work-3 work-3";
    gap: 16px;
}

.project-img img{
    width: 100%;
    height: 300px; 
    overflow: hidden;
    position: relative;
    object-fit: cover; 
    object-position: center; 
}

.project-img-item {
    position: relative;
}

.project-img-item:hover:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 24px;
}
/* GAMBAR SAVI */
#savi-1{
    grid-area: work-1;
}

#savi-1:hover:after {
    content: 'Main Body of Robot';
}

#savi-2{
    grid-area: work-2;
}

#savi-2:hover:after {
    content: 'Savi Logo';
}

#savi-3{
    grid-area: work-3;
}

#savi-3:hover:after {
    content: 'User Interface';
}
/* GAMBAR SAVI */

/* GAMBAR KASYA */
#kasya-1{
    grid-area: work-1;
}

#kasya-1:hover:after {
    content: 'Home of Web';
}

#kasya-2{
    grid-area: work-2;
}

#kasya-2:hover:after {
    content: 'Description';
}

#kasya-3{
    grid-area: work-3;
}

#kasya-3:hover:after {
    content: 'Hand Recognition';
}
/* GAMBAR KASYA */

/* GAMBAR ECOMMERCE */
#ec-1{
    grid-area: work-1;
}

#ec-1:hover:after {
    content: 'Product Catalog';
}

#ec-2{
    grid-area: work-2;
}

#ec-2:hover:after {
    content: 'Database';
}

#ec-3{
    grid-area: work-3;
}

#ec-3:hover:after {
    content: 'Cart';
}
/* GAMBAR ECOMMERCE */

.project-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-header h1{
    /* position: relative; */
    color: black;
}

.project-header h5 {
    color: #888888;
}

.project-detail{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 128px;
    margin-top: 72px;
}

.project-detail h2 {
    font-style: italic;
}

.project-detail a {
    text-decoration: none;
}

.project-detail-item {
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
}

.project-detail-item img {
    width: 100%;
    filter: grayscale(1);
}

.project-detail-item:hover {
    transform: scale(1.1);
}

.project-detail-item:hover img {
    filter: grayscale(0);
}

.project-detail-item h2 {
    padding: 0 16px;
    color: black;
}

.project-detail-item p {
    font-size: 16px;
    padding: 0 16px 32px 16px;
    margin-bottom: 24px;
    color: #888888;
}

.image-container {
    margin-bottom: 24px;
    height: 300px; 
    overflow: hidden;
    position: relative;
    object-fit: cover; 
    object-position: center; 
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center; 
}

#contact {
    padding-top: 128px;
    padding-bottom: 48px;
}

.contact h1 {
    background: url(images/accent3.svg);
}

.contact h2 {
    margin-bottom: 16px;
    color: #888888;
}

.contact p {
    color: rgb(255, 255, 255);
}

.contact::before{
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 50%;
    right: 50%;
    width: 98.95vw;
    height: 100%;
    background-color: black;
    z-index: -1;
    transform: translateX(-50%);
}

.contact img {
    width: 55px;
}

.contact-form {
    border: 2px solid black;
    border-radius: 8px;
    padding: 64px 32px;
}

.contact-form input {
    border: 1px solid black;
}

.form-label {
    font-weight: 700;
}

.article {
    padding-top: 64px;
}

.article p {
    text-align: justify;
}

.sys{
    width: 40%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
}

.ds {
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
}

.cp {
    width: 60%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
}

.demo {
    display: flex;
    padding-top: 16px;
    justify-content: center;
    align-items: center;
}

.all_project {
    padding-top: 48px;
}

.all_project h1 {
    text-align: center;
}

#footer {
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
}

.footer h1 {
    font-size: 36px;
    color: rgb(0, 0, 0);
}

.footer p {
    color: rgb(0, 0, 0);
    width: 100%;
}

.copyright {
    color: rgb(0, 0, 0);
    display: flex;
    height: fit-content;
}

#footer-pro {
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
}

#footer-pro .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer-pro h1 {
    font-size: 36px;
    color: rgb(255, 255, 255);
}

#footer-pro p {
    color: rgb(255, 255, 255);
    width: 100%;
}

#copyright-pro {
    color: rgb(255, 255, 255);
    display: flex;
    height: fit-content;
}

@keyframes bounceIn {
    0% {
        filter: opacity(0);
        transform: translateY(-20px);
    }
    35% {
        filter: opacity(0.25);
        transform: translateY(0);
    }
    70% {
        filter: opacity(0.5);
        transform: translateY(-10px);
    }
    100% {
        filter: opacity(1);
        transform: translateY(0);
    }
}

@media only screen and (max-width: 1392px) {
    .project-detail{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        column-gap: 64px;
        margin-top: 72px;
    }
}

@media only screen and (max-width: 1004px) {
    .project-detail{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        row-gap: 64px;
        margin: 36px 32px 0px 32px;
    }

    .project-header {
        display: inline-block;
    }

    .project-header a {
        display: flex;
        margin-top: 16px;
        justify-content: center;
    } 
}

@media only screen and (max-width: 768px) {
    .home img {
        width: 50%;
        padding-bottom: 32px;
    }
}

@media only screen and (max-width: 576px) {
    .contact-detail{
        row-gap: 16px;
        align-items: center;       
    }
    
    /* .contact-detail a{
        justify-content: center;       
    } */

    .lk {
        margin-left: 36px;
    }
    .ig {
        margin-left: 32px;
    }
    .tw {
        margin-left: 32px;
    }
    
}

@media only screen and (max-width: 613px) {
    .judul {
        left: 8px;
        font-size: 64px;
    }
}

@keyframes upDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}